<div class="volta" ng-click="volta()">
	<i class="fa fa-angle-left" aria-hidden="true"></i>
</div>
<div class="conteudo">
	<div class="tituloExtrato"><h3>Extrato de Conta</h3></div>
	
	<div class="cab_extrato">
		<div class="avatar">
			<!--img ng-src="{{user.data.avatar}}" alt=""-->
		</div>		
		<div class="detalheUsuario">
			<p>{{user.data.nome}}</p>
			<p>Tipo de Conta: {{user.data.tipo}}</p>
			<p>Agência: {{user.data.agencia}} &nbsp&nbspConta: {{user.data.conta}}</p>
		</div>
	</div>
	<div class="saldo">
		{{lancamentos.data.saldo}}
	</div>
	<div class="opcao">
		<button class="btn btn-light" ng-click="filtra(5)">5 dias</button>
		<button class="btn btn-light" ng-click="filtra(15)">15 dias</button>
		<button class="btn btn-light" ng-click="filtra(30)">30 dias</button>

	</div>
	<div class="lancamentos">
		<ul class="list-group lancamento">
			<li class="list-group-item" ng-repeat="lancamento in operacoes|filter:dateRange() track by $index">
				<span>{{lancamento.data| date:'dd/MM/yyyy'}} <br>
				{{lancamento.descricao}}</span> <br>
				<span class="pull-right">{{lancamento.valor}}&nbsp{{lancamento.tipo}} </span>
			</li>
		</ul>
	</div>

</div>
