<div class="conteiner">
	<div class="titulo">
		<h3>Login</h3>
		<form class="campos" name="formLogin" novalidate>
			<div class="user">
				<input type="text" ng-model="usuario.nome" required placeholder="Usuário" />
			</div>
			<div class="user">
				<input type="password" ng-model="usuario.senha" required placeholder="Senha" />
			</div>
			<div class="botao">
				<a class="btn btn-success btn-block" ng-click="exibeExtrato()" ng-disabled="formLogin.$invalid">Acessar</a>
			</div>
		</form>
	</div>
  <div class="anuncio">
    <img src="img/anuncio-cx.png" alt="">
  </div>

</div>