.conteudo{
	height: 80vh;
	width: 100%;
	background-color: #fff;
	color: #000;
}
.tituloExtrato{
	background-color: #ddd;
	padding-bottom: 3px;
}
.conteudo h3{
	text-align: center;
	margin: 0;
}
.cab_extrato{
	display: flex;
	flex-direction: row;
}
.avatar{
    width: 20vw;
    margin: 10px;
    border-radius: 70%;
    background-repeat: no-repeat;
    background-size: 150%;
    background-clip: cover;
    background-position: center;
}
.avatar img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.detalheUsuario{
	padding: 15px;
	height: 100%;
	width: 75vw;
	font-size: 4vw;
	font-weight: 700;
}
.detalheUsuario p{
	margin: 0;
}
.saldo{
	text-align: right;
	padding: 10px;
	font-size: 8vw;
	margin:  3px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.opcao{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3px 0;
}
.opcao button{
	width: 30%;
}
.lancamento li{
	overflow: auto;
/*	margin-bottom: -20px !important;*/
}
.lancamentos{
	overflow: auto;
	height: 55vh;
}
.volta{
	position: fixed;
	top: 0;
	left: 5px;
	font-size: 50px;
	color: #fff;
}
.list-group-item {
	padding: 0 10px;
}
@media only screen and (max-height: 600px) {
	.avatar{
		padding-top: 5vh;
		padding-left: 5vw;
	}
}
