.campos{
	border: 1px solid #fff;
	width: 70vw;
}
.titulo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	margin: 1vw auto;
}
.titulo h3{
	color: #fff;
	text-align: center;
	font-size: 6vw;
}
.user{
	margin: 3vh 5vw;
	font-size: 3vw;
}
.user input{
	width: 100%;
	font-size: 5vw;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    background-color: #3b7fbe;	
    color: #fff;
}
*::-webkit-input-placeholder {
    color: #ccc;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ccc;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ccc;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}
.botao{
	margin: 3vh 5vw;
	width: 60vw;
	text-align: center;
}
.botao a{
	font-size: 5vw;
}
.anuncio{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.anuncio img{
	width: 100%;
	max-height: 120px;
}
@media only screen and (min-height: 600px) {
	.titulo{
		margin-top: 10vh;
	}
}


