body{
	background-color: #0073ba;
	max-width: 768px;
	margin:  0 auto;
}
.cabecalho{
    border-bottom: 1px solid #fff;
    height: 12vh;
    text-align: center;
}
.cabecalho img{
	width: 60vw;
    height: 10vh;
    margin: 0 auto;
    margin-top: 5px;
    max-width: 400px;
}
.conteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
@media only screen and (orientation:landscape){
  body{  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
.loading{
	position: fixed;
	top: 12vh;
	left: 0;
	width: 100%;
	height: 88vh;
	background-color: #000;
	opacity: 0.3;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}
.loading i{
	opacity: 0.9;
	color: #fff;
	font-size: 20vw;
}
@media only screen and (max-height: 400px) {
	.anuncio{
		display:none;
	}
}

